.title{
    text-align: left;
    color: white;
    font-size: 1.5rem;
    font-weight: bold;
    padding: 10px;

}
a{
    text-decoration: none;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #3433;
  color: #fff;
  padding: 1rem;
}

.navicenter {
  display: flex;
  align-items: center;
}

.naviright {
  display: flex;
  align-items: right;
}

.navicenter .navigroup, .naviright .navisocials {
  list-style-type: none;
  display: flex;
  margin: 0;
  padding: 0;
}


.navicenter .navigroup li {
  margin-left: 2rem;
}
.naviright .navisocials li{
 margin-right: 2rem;
}

.navicenter .navigroup, .navisocials a {
  color: #fff;
  text-decoration: none;
}
